<div id="flash"><%= errors_flash_tag flash[:alert] %></div>

<ul class="tabs">
  <li><a href="#">审核中</a></li>
  <li class="active"><a href="#">通过的</a></li>
  <li><a href="#">实施中</a></li>
  <li><a href="#">完成的</a></li>
  <li><a href="#">无效的</a></li>
</ul>

<div class="row">
  <div class="span9"><a class="tag" href="#">视觉</a></div>
  <div class="span3">
    <select class="medium" name="mediumSelect">
	  <option>最新</option>
    </select>
  </div>
</div>

<%= render @ideas %>
