<div id="search-tabs">
	<ul>
	  <li><a href="#search-tabs-box">搜索</a></li>
	</ul>
    <div id="search-tabs-box" class="tab-content">
      <%= render :partial => "search_tab",:locals => { :ideas => @ideas } %>
    </div>
</div>
<div id="login-dialog">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left;margin-right:.3em"></span>
        您还没有登录，请先&nbsp;<%= link_to "登录>>",login_path %>
  </P>
</div>
