<div id="search-tabs">
	<ul>
	  <li><a href="#search-tabs-box">搜索</a></li>
	</ul>
    <div id="search-tabs-box" class="tab-content">
      <%= render :partial => "search_tab",:locals => { :ideas => @ideas } %>
    </div>
</div>
