<div class="row"><div class="span7 hr"></div></div>
<div class="row">
  <div class="span6">
	<div class="comment-profile"><%= link_to image_tag(comment.user.avatar.url(:thumb),:class=>"profile_picture_small"),user_path(comment.user) %></div>
	<div class="comment">
	  <div class="comment-info"><%= link_to comment.user.username,user_path(comment.user) %></div>
	  <div class="comment-entry"><%= comment.content %></div>
	  <div class="comment-date shallow"><%= distance_of_time_in_words_to_now comment.created_at %></div>
	</div>
  </div>
  <div class="span1">
	<ul class="unstyled actions">
	  <li><a href="#">修改</a></li>
	  <li><a href="#">删除</a></li>
    </ul>
  </div>
</div>
