body {
    color: #000000;
	font-family: tahoma,arial,宋体;
	font-size: 0.8em; 
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
}
a {
    color: #2e6e9e;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #e17009;
}
big {
    font-size: 1.5em;
}
h1 {
    margin-top: 0;
}
h2 p, p {
    font-size: 1.1em;
}
form {
    margin: 0;
}
div.item{
    margin: 15px 0;
    font-size: 1.2em;
}
label.text {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight:bold;
    line-height: 18px;
    margin-right: 15px;
    text-align: right;
    vertical-align: middle;
    width: 80px;
}
input.text {
   width: 200px;
   height: 18px;
}
input.text,textarea.text {
  border: 1px solid #a6c9e2;
  padding: 1px 3px;
  vertical-align: middle;
}
input.sub-btn{
  font-size:0.9em;
}
div.error-msg{
  margin:8px 0;
  padding:.3em .7em; 
}
div.error-msg span.msg{
  float:left;
  margin-right:.3em;
}
div.text{
  width: 500px;
  float: left;
}
div.clear{
  height:0;
  clear:both;
}
div.title{
    border-bottom:1px solid #4297d7;
    margin-bottom:10px;
    padding-bottom:5px;
}
div.title span{
    font-size:18px;
    font-weight:bold;
    padding: 2px 5px;
}
div.help{
    float:right;
    background: url("icon_help.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
    margin:5px 10px 0 0px;
    cursor:pointer;
}
span.highlight{
  font-weight:bold;
  color:#E17009;
}
div.imessage a,div.promotion-imessage a,#activities a,table.tt a,div.category-summary a,div.leadboard a,div.profile a{
    color: #2e6e9e;
    font-weight: bold;
    text-decoration: none;
}
div.imessage a:hover,div.promotion-imessage a:hover,#activities a:hover,table.tt a:hover,div.category-summary a:hover,div.leadboard a:hover,div.profile a:hover{
    color: #e17009;
}
#header {
    background-color: #FFFFFF;
    min-width: 990px;
    overflow: hidden;
    width: 100%;
}
#header .content {
    margin: 20px auto 10px auto;
    position: relative;
    width: 990px;
}
#header h1.logo{
    padding: 10px 0 0 30px;
}
#header #welcome{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 0 0 30px;
    float: left;
}
#header #action{
  float:right;
  padding: 3px 30px 0 0;
}
#main {
    background-color: #FFFFFF;
    border-top: 1px solid #4297d7;
    min-width: 990px;
}
#main .content {
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 30px;
    width: 930px;
    min-height:350px; 
}
#main .content .col-a {
    float: right;
    width: 624px;
}
#main .content .col-b {
    float: left;
    width: 262px;
}
.search-panel {
    height: 36px;
    margin-top: 5px;
    margin-bottom:15px;
    position: relative;
    width: 260px;
}
.search-panel form {
    margin: 0;
    padding: 2px;
    position: relative;
}
.search-panel-fields {
    background-color: #FFFFFF;
    background-position: 0 0;
    border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 30px;
    position: relative;
    width: 214px;
}
.search-panel-fields .query {
    border: 0 none;
    font-family: tahoma,arial,宋体;
    font-size: 14px;
    height: 18px;
    left: 0;
    line-height: 20px;
    padding: 6px 4px 6px 4px;
    position: absolute;
    top: 0;
    width: 206px;
}
.search-panel button {
    height: 32px;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 30px;
}
.category-summary {
    margin: 11px 0;
}
.category-summary ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.category-summary ul li {
    margin: 10px 0;
    overflow: hidden;
}
.category-summary ul li span {
    display: block;
    float: left;
    font-size: 1.1em;
    text-align: center;
    width: 40%;
}
.category-summary ul li a {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    width: 60%;
}
.leadboard h3,.category-summary h3{
  margin:2px;
  padding:0.4em;
  text-align:center;
}
.leadboard table{
  font-size: 1em;
  width:99%;
  margin:auto;
}
.leadboard table tr td{
  border-bottom:1px solid #BDBCB7;
  padding-bottom:3px;
  padding-top:7px;
}
.leadboard table td.rank{
  padding-left:9px;
  padding-right:2px;
}
.leadboard table td.username{
  padding-right:5px;
}
.leadboard table td span.create{
  background: url("icon_light_small.png") no-repeat scroll 0 0 transparent;
  padding-left:16px;
}
.leadboard table td span.comment{
  background: url("icon_write_small.png") no-repeat scroll 0 0 transparent;
  padding-left:16px;
}
.leadboard table td span.like{
  background: url("icon_like_small.png") no-repeat scroll 0 0 transparent;
  padding-left:16px;
}
.leadboard table td span.unlike{
  background: url("icon_unlike_small.png") no-repeat scroll 0 0 transparent;
  padding-left:16px;
}
#footer {
    background-color: #282828;
    border-top: 5px solid #4297D7;
    min-width: 990px;
    width: 100%;
}
#footer .content {
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 30px;
    width: 930px;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align:right;
}
div.page-actions {
    padding-bottom: 30px;
}
.tab-header {
    margin:5px 0;
}
.category-select-box{
  float:left;
}
.status-button-set{
  float:right;
}
.pagination-box-top{
  padding:10px 0 15px 0;
}
.pagination-box-bottom{
  margin-bottom:2px;
}
div.pagination {
  background: #FFFFFF;
  cursor: default;
  float:right;
}
div.pagination a, .pagination span, .pagination em {
    display: block;
    float: left;
    margin: 2px;
    padding: 2px 5px;
}
div.pagination .disabled {
    color: #BDBCB7;
    border: 1px solid #EEEEEE; 
}
div.pagination a {
  text-decoration: none;
  border: 1px solid #C5DBEC;
  background: #DFEFFC url(redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #2E6E9E; 
}
div.pagination .current {
  font-style: normal;
  border: 1px solid #79B7E7;
  background: #F5F8F9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #E17009;
}
div.pagination a:hover, .pagination a:focus {
  background: #d0e5f5 url(redmond/images/ui-bg_glass_75_#d0e5f5_1x400.png) 50% 50% repeat-x;
  color: #1d5987;
  border-color: #79b7e7; 
  font-weight: bold;
}
div.idea-one,div.idea-edit{
  width:580px;
}
div.idea-edit div.idea-status{
  margin-top:10px;
}
div.idea-status div.idea-all-status{
  margin:10px 0;
}
div.idea-status span{
  display: block;
  float: left;
  margin-right:10px;
}
div.idea-status .arrow{
    background: url("arrow_right.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    text-indent: -10000px;
    width: 24px;
}
div.idea-status .status{
  padding:2px 5px;
  font-size:0.9em;
}
div.ideas-all {
    clear: both;
    margin: 0 0 15px;
    overflow: hidden;
}
div.ideas-all span.end {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}
div.ideas-all div.idea{
    border-bottom: 1px solid #BDBCB7;
    padding: 20px 0 15px;
}
div.ideas-all div.first{
    border-top: 1px solid #BDBCB7;
}
ul.idea-vote {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
    width: 50px;
}
li.vote-btn{
  text-align:center;
}
li.vote-btn a{
  margin:2px 0;
}
li.vote-btn a span{
  font-size:1.1em;
  margin:3px 0;
}
ul.idea-vote li h6 {
    border-bottom: 1px solid #BDBCB7;
    float: left;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
}
ul.idea-vote li.score span {
    border-top: 1px solid #BDBCB7;
    display: block;
    float: left;
    padding: 6px 0 5px;
    margin: 5px 0 0;
    text-align: center;
    width: 100%;
}
div.imessage {
    display: inline;
    float: right;
    width: 506px;
}
div.imessage h2,div.idea-edit h2{
    font-size: 1.55em;
    font-weight: 100;
    margin: 0 0 20px;
    overflow: hidden;
}
div.imessage h2 span,div.idea-edit h2 span{
    display: block;
    float: left;
	padding: 0 6px 0 0;
}
div.imessage h2 span.launched,div.idea-edit h2 span.launched {
    background: url("icon_ok.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.reviewed,div.idea-edit h2 span.reviewed {
    background: url("icon_reviewed.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.in-the-works,div.idea-edit h2 span.in-the-works {
    background: url("icon_gear.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.under-review,div.idea-edit h2 span.under-review {
    background: url("icon_review.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage div.info{
	font-size: 0.85em;
	margin-top:5px;
}
div.idea-edit div.info{
	font-size: 1em;
	margin-top:5px;
}
div.imessage div.entry{
  min-height:74px;
}
div.idea div.imessage ul.actions {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
}
div.idea div.imessage ul.actions li {
    display: inline;
    float: left;
    margin: 0 25px 0 0;
}
div.idea div.imessage ul.actions li a{
    background-position: 0 60%;
    background-repeat: no-repeat;
    display: block;
    font-size: 0.9em;
    line-height: 2.2em;
    text-decoration: none;
}
div.idea div.imessage ul.actions li a:hover {
}
div.idea div.imessage ul.actions li.comment a {
    background-image: url("icon_comment.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.write a{
    background-image: url("icon_write.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.manage a{
    background-image: url("icon_manage.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.edit a{
    background-image: url("icon_edit.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.favor a{
    background-image: url("icon_favor.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.unfavor a{
    background-image: url("icon_unfavor.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.category {
    float: right;
    margin-right: 0;
}
div.idea div.imessage ul.actions li.category a {
    display: block;
    float: left;
}
div.idea div.imessage ul.actions li.category span {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
div.promotion-idea {
    border-bottom: 1px solid #BDBCB7;
    margin:5px 15px 15px;
}
div.promotion-imessage h2{
    font-size: 1.4em;
    font-weight: 100;
    overflow: hidden;
    margin:0 0 10px;
}
div.comments div.comment{
  padding:15px 0;
  border-bottom:1px solid #BDBCB7;
}
div.comments div.first{
  border-top:1px solid #BDBCB7;
}
div.comment div.poster{
    display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0 10px;
    width: 100px;
}
div.comment div.poster span.username{
  margin-bottom:10px;
  display:block;
}
div.comment div.poster span.date{
  display:block;
}
div.comment div.entry{
    display: inline;
    float: right;
    width: 456px;
}
div.comment div.admin{
  color:#E17009;
}
div.comment-form{
  width:580px;
  margin-top:40px;
}
table.tt{
  display: table;
  border: medium none;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
table.tt tr.title{
  color:#2E6E9E;
  font-weight:bold
}
table.tt td {
  border-bottom: 1px dashed #BDBCB7;
  padding: 3px 3px 3px 0;
}
div.profile,div.summary {
  padding:10px 20px;
  margin-bottom:20px;
}
div.profile div.username,div.profile div.role,div.profile div.date{
  margin-bottom:5px;
}
div.profile div.edit{
  text-align:right;
}
div.summary div.count{
  margin-bottom:5px;
}
#activities div.activity{
  padding-left:30px;
  background-repeat: no-repeat;
  font-size: 0.9em;
  line-height: 2.2em;
}
#activities div.idea{
  padding:0;
}
#activities div.line{
  width:100%;
  height:1px;
  border-bottom:1px solid #BDBCB7;
  margin: 5px 0;
}
#activities div.activity .date{
  float:right;
  width: 150px;
  text-align:right;
}
#activities div.activity .text{
  float:left;
  width: 370px;
}
#activities div.comment{
  background-image: url("icon_write.png");
}
#activities div.create{
  background-image: url("icon_light.png");
}
#activities div.favorite{
  background-image: url("icon_favor.png");
}
#activities div.unfavorite{
  background-image: url("icon_unfavor.png");
}
#activities div.like{
  background-image: url("icon_like.png");
}
#activities div.unlike{
  background-image: url("icon_unlike.png");
}
