/*
 *= require_tree . 
 *= require_self
*/
body {
  background-color: #eee;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  padding-top: 40px;
}
.container > footer p {
  text-align: center; 
}
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.topbar .btn {
  border: 0;
}
.label{
  font-size:13px;
}
a.tag {
  font-size:13px;
  padding: 1px 3px 2px;
  margin-right: 5px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  background-color: #BFBFBF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  text-decoration: none;
}
a.tag:hover{
  background-color: #F89406;;
}
div.idea-box{
  margin-top:10px;
  margin-bottom:10px;
  padding:10px 0;
  border-top: 1px solid #DDD;
}
div.idea-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
}
div.idea-tag,div.idea-info,div.idea-entry{
  margin:5px 0;
}
ul.idea-action,ul.solution-action,ul.comment-action{
  padding-left:20px;
  margin-bottom:0;
}
ul.idea-action li,ul.solution-action li,ul.comment-action li{
  margin:5px 0;
}
div.solution-box,div.comment-box,div.idea-button,div.idea-form{	
  margin:10px 0 0 60px;
  padding-top:10px;
  border-top: 1px solid #DDD;
}
div.solution-info,div.solution-date,div.solution-entry{
  margin:5px 0;
}
div.comment-info,div.comment-date,div.comment-entry{
  margin:5px 0;
}
div.page{
  padding-top:10px;
  border-top: 1px solid #DDD;
}
ul.sidebar-select li{
  float:none;
}
ul.hot-tags{
  padding-left:15px;
}
ul.hot-tags li{
	margin:10px 0;
}
div.show-more{
  margin:10px 0 0 60px;
  padding:5px 0;
  border-top: 1px solid #DDD;
  background:  #DDD;
  text-align:center;
}
ul.idea-promotion li{
  margin:5px 0;
}
