body {
    color: #000000;
	font-family: tahoma,arial,宋体;
	font-size: 0.8em; 
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
}
a {
    color: #5c9ccc;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #e17009;
}
big {
    font-size: 1.5em;
}
h1 {
    margin-top: 0;
}
h2 p, p {
    font-size: 1.1em;
}
form {
    margin: 0;
}
div.item{
    margin: 15px 0;
    font-size: 1.2em;
}
label.text {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight:bold;
    line-height: 18px;
    margin-right: 15px;
    text-align: right;
    vertical-align: middle;
    width: 80px;
}
input.text {
   width: 200px;
   height: 18px;
}
input.text,textarea.text {
  border: 1px solid #006699;
  padding: 1px 3px;
  vertical-align: middle;
}
div.error-msg{
  margin:8px 0;
  padding:.3em .7em; 
}
div.error-msg span.msg{
  float:left;
  margin-right:.3em;
}
div.text{
  width: 500px;
  float: left;
}
div.clear{
  height:0;
  clear:both;
}
div.title{
    border-bottom:1px solid #79B7E7;
    margin-bottom:10px;
    padding-bottom:5px;
}
.t2{
    background-color:#5C9CCC;
    font-size:18px;
    font-weight:bold;
    padding: 2px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
span.highlight{
  font-weight:bold;
  color:#E17009;
}
#header {
    background-color: #FFFFFF;
    min-width: 990px;
    overflow: hidden;
    width: 100%;
}
#header .content {
    margin: 20px auto 10px auto;
    position: relative;
    width: 990px;
}
#header h1.logo{
    padding: 10px 0 0 30px;
}
#header #welcome{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 0 0 30px;
    float: left;
}
#header #action{
  float:right;
  padding: 3px 30px 0 0;
}
#main {
    background-color: #FFFFFF;
    border-top: 1px solid #79b7e7;
    min-width: 990px;
}
#main .content {
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 30px;
    width: 930px;
    min-height:350px; 
}
#main .content .col-a {
    float: right;
    width: 624px;
}
#main .content .col-b {
    float: left;
    width: 262px;
}
.search-panel {
    background: none repeat scroll 0 0 #fbec88;
    border: 1px solid #fad42e;
    height: 36px;
    margin-top: 5px;
    margin-bottom:15px;
    position: relative;
    width: 246px;
}
.search-panel form {
    margin: 0;
    padding: 2px;
    position: relative;
}
.search-panel-fields {
    background-color: #FFFFFF;
    background-position: 0 0;
    border-color: #C5DBEC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 30px;
    position: relative;
    width: 200px;
}
.search-panel-fields .query {
    border: 0 none;
    font-family: tahoma,arial,宋体;
    font-size: 14px;
    height: 18px;
    left: 0;
    line-height: 20px;
    padding: 6px 4px 6px 4px;
    position: absolute;
    top: 0;
    width: 192px;
}
.search-panel button {
    height: 32px;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 30px;
}
.partner-category {
    margin: 11px 0 50px;
}
.partner-category ul {
    list-style: none outside none;
    margin: 0 0 25px;
    padding: 0 0 15px;
}
.partner-category ul li {
    margin: 0 0 10px;
    overflow: hidden;
}
.partner-category ul li span {
    display: block;
    float: left;
    font-size: 1.1em;
    text-align: center;
    width: 60px;
}
.partner-category ul li a {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    width: 200px;
}
#footer {
    background-color: #282828;
    border-top: 5px solid #79b7e7;
    min-width: 990px;
    width: 100%;
}
#footer .content {
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 30px;
    width: 930px;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align:right;
}
div.page-actions {
    padding-bottom: 30px;
}
.tab-header {
    margin:5px 0;
}
.category-select-box{
  float:left;
}
.status-button-set{
  float:right;
}
.pagination-box-top{
  padding:10px 0 15px 0;
}
.pagination-box-bottom{
  margin-bottom:2px;
}
.pagination {
  background: white;
  cursor: default;
  float:right;
}
.pagination a, .pagination span, .pagination em {
    display: block;
    float: left;
    margin: 2px;
    padding: 2px 5px;
}
.pagination .disabled {
    color: #DDDDDD;
    border: 1px solid #EEEEEE; 
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #5c9ccc;
    color: white;
    border: 1px solid #5c9ccc;
}
.pagination a {
    text-decoration: none;
    color: #5c9ccc;
    border: 1px solid #AAAADD; 
}
.pagination a:hover, .pagination a:focus {
      color: #000000;
      border-color: #5c9ccc; 
}
div.idea-one,div.idea-edit{
  width:580px;
}
div.idea-edit div.idea-status{
  margin-top:10px;
}
div.idea-status div.idea-all-status{
  margin:10px 0;
}
div.idea-status span{
  display: block;
  float: left;
  margin-right:10px;
}
div.idea-status .arrow{
    background: url("arrow_right.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    text-indent: -10000px;
    width: 24px;
}
div.idea-status .status{
  color: #363636;
  background: #fbec88;
  border: 1px solid #fad42e; 
  padding:2px 5px;
  font-size:1.2em;
}
div.idea-status .current{
  color: #FFFFFF;
  background: #E17009;
  border: 1px solid #E17009; 
}
div.ideas-all {
    clear: both;
    margin: 0 0 15px;
    overflow: hidden;
}
div.ideas-all span.end {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}
div.ideas-all div.idea{
    border-bottom: 1px solid #BDBCB7;
    padding: 20px 0 15px;
}
div.ideas-all div.first{
    border-top: 1px solid #BDBCB7;
}
ul.idea-vote {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
    width: 50px;
}
li.vote-btn{
  text-align:center;
}
li.vote-btn a{
  margin:2px 0;
}
li.vote-btn a span{
  font-size:1.1em;
  margin:3px 0;
}
ul.idea-vote li h6 {
    border-bottom: 1px solid #BDBCB7;
    float: left;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
}
ul.idea-vote li.score span {
    border-top: 1px solid #BDBCB7;
    display: block;
    float: left;
    padding: 6px 0 5px;
    margin: 5px 0 0;
    text-align: center;
    width: 100%;
}
div.imessage {
    display: inline;
    float: right;
    width: 506px;
}
div.imessage a,div.promotion-imessage a {
    color: #5c9ccc;
    font-weight: bold;
    text-decoration: none;
}
div.imessage a:hover,div.promotion-imessage a:hover{
    color: #e17009;
}
div.imessage h2,div.idea-edit h2{
    font-size: 1.55em;
    font-weight: 100;
    margin: 0 0 20px;
    overflow: hidden;
}
div.imessage h2 span,div.idea-edit h2 span{
    display: block;
    float: left;
	padding: 0 6px 0 0;
}
div.imessage h2 span.launched,div.idea-edit h2 span.launched {
    background: url("icon_ok.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.reviewed,div.idea-edit h2 span.reviewed {
    background: url("icon_reviewed.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.in-the-works,div.idea-edit h2 span.in-the-works {
    background: url("icon_gear.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage h2 span.under-review,div.idea-edit h2 span.under-review {
    background: url("icon_review.png") no-repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -10000px;
    width: 24px;
}
div.imessage div.info{
	font-size: 0.85em;
	margin-top:5px;
}
div.idea-edit div.info{
	font-size: 1em;
	margin-top:5px;
}
div.imessage div.entry{
  min-height:74px;
}
div.idea div.imessage ul.actions {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
}
div.idea div.imessage ul.actions li {
    display: inline;
    float: left;
    margin: 0 25px 0 0;
}
div.idea div.imessage ul.actions li a{
    background-position: 0 60%;
    background-repeat: no-repeat;
    display: block;
    font-size: 0.9em;
    line-height: 2.2em;
    text-decoration: none;
}
div.idea div.imessage ul.actions li a:hover {
}
div.idea div.imessage ul.actions li.comment a {
    background-image: url("icon_comment.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.write a{
    background-image: url("icon_write.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.manage a{
    background-image: url("icon_manage.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.edit a{
    background-image: url("icon_edit.png");
    padding: 0 0 0 30px;
}
div.idea div.imessage ul.actions li.category {
    float: right;
    margin-right: 0;
}
div.idea div.imessage ul.actions li.category a {
    display: block;
    float: left;
}
div.idea div.imessage ul.actions li.category span {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
div.promotion-idea {
    border-bottom: 1px solid #BDBCB7;
    margin:5px 15px 15px;
}
div.promotion-imessage h2{
    font-size: 1.4em;
    font-weight: 100;
    overflow: hidden;
    margin:0 0 10px;
}
div.comments div.comment{
  padding:15px 0;
  border-bottom:1px solid #BDBCB7;
}
div.comments div.first{
  border-top:1px solid #BDBCB7;
}
div.comment div.poster{
    display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0 10px;
    width: 100px;
}
div.comment div.poster span.username{
  margin-bottom:10px;
  display:block;
}
div.comment div.poster span.date{
  display:block;
}
div.comment div.entry{
    display: inline;
    float: right;
    width: 456px;
}
div.comment div.admin{
  color:#E17009;
}
div.comment-form{
  width:580px;
  margin-top:40px;
}
table.tt{
  display: table;
  border: medium none;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
table.tt tr.title{
  color:#2E6E9E;
  font-weight:bold
}
table.tt td {
  border-bottom: 1px dashed #DDDDDD;
  padding: 3px 3px 3px 0;
}
