      <footer>
		<ul class="unstyled footer-nav">
			<li class="shallow">© 2012 MyIdea</li>
			<li><a href="http://www.danthought.com/opensource-myidea/">关于MyIdea</a></li>
			<li><a href="#">免责声明</a></li>
			<li><a href="https://github.com/danjiang/myidea">Github</a></li>
			<li><a href="http://www.danthought.com/">开发者博客</a></li>
		</ul>
      </footer>
