<div id="footer">
  <div class="content">
    <div class="logo">
      <div>Powered By</div>
      <div><a target="_blank" href="https://github.com/danjiang/myidea" class="logo">MyIdea</a></div>
    </div>
  </div>
</div>
